.body_content {
    margin-top: 5%;
}

.error {
    color: red
}

.wrapper {
    margin: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.setBlock {
    margin: 0 1rem;
}

.setBlock .setDescription {
    display: flex;
    flex-direction: row;
    place-items: center center;
    place-content: center center;
    place-self: center center;
}

.setDescription {
    padding: 1rem 0;
    border-bottom: 1px solid #000000;
}

.titleBlock {
    text-align: center;
}

.setName {
    width: 65%;
    margin: 0 1rem;
}

.blockIcon {
    width: 20%;
    margin-right: 1rem;
}
